{% extends 'app/base.html' %}
{% load static %} 
{% block title %}About{%endblock title %}  
{% block main-content %}
 <div class="container mt-3">
    <br>
    <h2 class="text-center">Contact Us</h2>
    <br>
    <div class="row Container">
        <p class="fs4 text-center">Address:H. No.8-2-293/82/A/1286,
          Plot No.1286,
          Road No. 1 & 65, Jubilee Hills,
          Dhule – 424306</p>
        <p class="fs4 text-center">Contact:02220145236</p>
        <p class="fs4 text-center">Email:Dairyfarmares@gmail.Com</p>
</div>
 </div>
 <br><br>
 {% endblock main-content %}